# IntelliJ project files
.idea
*.iml
out
gen

/src/main/resources/log4j.properties
.classpath
.project
.settings
.directory

horus-core/src/resources/log
horus-core/target/
horus-core/src/test/
horus-core/src/main/resources/cache/images
"\\Users\\dnesj48textclass.model"
bookobject.jpg
bookscene.jpg
features/location/
features/organisation/
horus-core/src/main/java/org/aksw/horus/sift/TextCategorizationTest.java
horus-core/src/main/resources/cache/images.zip
horus-core/src/main/resources/names/
horus-core/src/main/resources/organisation/
horus-core/src/main/resources/training-data/landscapes/
horus-core/src/main/resources/training-data/pos/LOGO_alfaromeo.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_alfaromeo.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_alfaromeo.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_alfaromeo.jpeg2.arff
horus-core/src/main/resources/training-data/pos/LOGO_alfaromeo.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_allstar.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_allstar.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_allstar.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_allstar.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_amazon.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_amazon.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_amazon.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_amazon.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_artfilm.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_artfilm.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_artfilm.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_artfilm.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_bentley.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_bentley.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_bentley.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_bentley.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_bolton.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_bolton.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_bolton.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_bolton.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_bp.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_bp.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_bp.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_bp.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_cocacola.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_cocacola.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_cocacola.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_cocacola.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_cooley.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_cooley.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_cooley.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_cooley.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_ge.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_ge.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_ge.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_ge.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_hca.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_hca.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_hca.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_hca.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_lotus.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_lotus.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_lotus.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_lotus.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_mazda.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_mazda.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_mazda.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_mazda.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_mercedes.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_mercedes.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_mercedes.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_mercedes.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_pinnacle.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_pinnacle.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_pinnacle.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_pinnacle.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_pizzahut.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_pizzahut.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_pizzahut.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_pizzahut.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_ripcurl.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_ripcurl.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_ripcurl.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_ripcurl.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_rollsroyce.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_rollsroyce.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_rollsroyce.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_rollsroyce.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_unilever.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_unilever.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_unilever.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_unilever.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_unknown2.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_unknown2.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_unknown2.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_unknown2.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_unknown4.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_unknown4.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_unknown4.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_unknown4.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_unknown6.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_unknown6.jpeg.ser
horus-core/src/main/resources/training-data/pos/LOGO_unknown6.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_unknown6.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/LOGO_vodafone.jpeg.arff
horus-core/src/main/resources/training-data/pos/LOGO_vodafone.jpeg.ser
horus-
core/src/main/resources/training-data/pos/LOGO_vodafone.jpeg.sift
horus-core/src/main/resources/training-data/pos/LOGO_vodafone.jpeg.sift.csv
horus-core/src/main/resources/training-data/pos/teste.csv
img.jpg
j48textclass.model
links.txt
loanaObject.jpg
loanaScene.jpg
matchoutput.jpg
outputImage.jpg
text_example2/
